{% extends 'layout.html' %}


{% block body %}

<br><br><br><br><br><br><br>
<div class="row">
    <div class="col-sm text-center">
        <span style="font-size: 30px;"> Lorem ipsum dolor sit. </span> <br><br>
        <div class="container">
            <span style="font-size: 20px;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam sint perferendis ex voluptatem in est distinctio officiis doloremque ratione, doloribus sed deserunt assumenda dolorum quam, dolor unde illum nisi, impedit voluptate expedita reiciendis! Magnam, magni asperiores? Labore quia iusto quis. </span>
        </div>
    </div>
</div>



{% endblock %}